@import "tailwindcss";

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}
